.advantages {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 728px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.advantages__badge {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    font-size: 42px;
    line-height: 1.52;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, minmax(339px, 339px));
    justify-content: space-between;
    gap: 48px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, minmax(318px, auto));
    gap: 30px;
  }
}
