.badge {
  display: block;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $color-slate-blue;
  text-align: center;
}
