.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: $color-white;
  border: none;
  border-radius: 4px;
  background-color: $color-slate-blue;
  cursor: pointer;
  text-align: center;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color-medium-purple;
    color: $color-white;
  }

  &:focus {
    background-color: $color-medium-purple;
    color: $color-white;
  }

  &:active {
    background-color: $color-royal-purple;
    color: $color-white;
  }

  &:disabled {
    background-color: $color-silver;
    pointer-events: none;
  }

  &--light {
    background-color: $color-white;
    color: $color-slate-blue;

    &:disabled {
      background-color: $color-gainsboro;
      color: $color-white;
    }
  }

  &--with-picture {
    padding: 8px 20px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.43;
  }

  &--is-disabled {
    background-color: $color-silver;
    pointer-events: none;
  }
}
